<%= form_with(model: mark, local: true) do |form| %>
  <% if mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
        <% mark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, class: 'form-control' %>
  </div>

  <%# <div class="actions btn btn-success">
    <%= form.submit %>
  <%# </div>  %>

    <form class="actions">
      <button class="btn-outline-success my-2 my-sm-0" type="submit">Stwórz</button>
    </form>

  </form>
<% end %>
