<div>
  <div class="container">
  <%= mark.name %>
  <%= mark.domain.name if mark.domain %>
  <%= mark.url %>
  <%= mark.tag %>
  <%= link_to 'Show', mark %>
  <%= link_to 'Edit', edit_mark_path(mark) %>
  <%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  </div>
</div>