<p id="notice"><%= notice %></p>
<%= link_to 'New Mark', new_mark_path %>


<h1>Marks</h1>
<div id="content">
  <%= render(partial: 'mark', collection: @marks) %>
</div><p id="notice"><%= notice %></p>

<h1>Marks</h1>
<% unless @marks.current_page == @marks.total_pages %>
  <p id="view-more">
    <%= link_to('Zaladuj wiecej', url_for(page: @marks.current_page + 1), remote: true) %>
  </p>
<% end %>

