<p>
  <strong>Nazwa:</strong>
  <%= @mark.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @mark.name, @mark.url, target: "_blank" %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @mark.tag %>
</p>

<p>
  <strong>Domena:</strong>
  <% if @mark.domain %>
  <%= link_to @mark.domain.name, domain_path(@mark.domain) %>
  <% else %>
    <%= @mark.domain_id %>
  <% end %>
</p>

<%= link_to 'Zmień', edit_mark_path(@mark) %> |
<%= link_to '<- Powrót', marks_path %>
