<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @domain.name %>
</p>
<p>
  <strong>Marks:</strong>
  <% @domain.marks.each do |mark| %>
    <%= mark.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
